
@font-face{
    font-family: MonumentValley;
    src: url(./assets/MonumentValley12-X55o.otf);
}

@font-face{
    font-family: PrintClearly;
    src: url(./assets/PrintBold-J5o.ttf);
}

@font-face{
    font-family: Radlush;
    src: url(./assets/RadlushMedium-BL7p5.ttf);
}

h1, u{
    color: white;
}

p, li{
    color: rgb(180, 180, 180);
}

html,
body,
.CanvasContainer,
#root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    background-color: black;
    overflow: hidden;
    scroll-behavior: smooth;
}

.LeftPanel{
    top:0em;
    left:2em;
    height: 100%;
    position: absolute;
}

.myName {
    position: relative;
    top: 2em;
    left: 36px;
}

.myName h1 {
    font-family: MonumentValley;
    font-size: 60px;
}

.myName p{
    top: -42px;
    left: 8px;
    position: relative;
    font-family: PrintClearly;
    font-size: 24px;
}

.myContact {
    position: absolute;
    font-family: Radlush;
    bottom: 6%;
    left: 2.4em;
}

.myContact img {
    margin-top: 10px;
    margin-right: 12px;
}

.infoDirectory{
    position: relative;
    font-family: Radlush;
    line-height: 2em;
    font-size: 1.1em;
    left: 6px;
}

.infoDirectory a {
    color:white;
    text-decoration: none;
}

.MyInfo{
    bottom: 4em;
    right: 4em;
    width: 50%;
    height: 80%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    font-family: Radlush;
    font-size: 16px;
}

.MyWorks{
    display: flex;
    position: absolute;
    justify-content: right;
    text-align: right;
    right: 2em;
    top: 0em;
    font-family: Radlush;
    font-size: 16px;
    width: 60%;
    height: 100%;
    overflow: auto;
}

.MyWorks::-webkit-scrollbar {
    width: 8px;
  }
.MyWorks::-webkit-scrollbar-track {
    background: rgb(59, 59, 59);
  }
.MyWorks::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112);
    border-radius: 10px;
  }

.WorksList{
    position: absolute;
    list-style: none;
    margin-right: 2em;
    margin-top: 4em;
}

.WorksList a{
    text-decoration: none;
    color: white;
    font-size: 80px;
    font-family: MonumentValley;
    line-height: 1.4em;
}

.WorksList p{
    position:relative;
    top: -34px;
    right: 10px;
}

.rightPanel{
    position: absolute;
    border: 1px solid red;
    right: 3em;
    top: 3em;
    height: 88%;
    width: 40%;
}

.Frame{
    content: '';
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.OuterBackground {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 30px solid #0b0b0de1;
    pointer-events: none;
  }